.fp-container {
  position: relative;
  width: 600px;
  box-shadow: 0 0 12px rgba(0,0,0,.30);
  margin: 5vh auto;
  height: 90vh;
}

app-fp-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
